
@import './variables';


@function color($color-name){
    @return map-get($colors, $color-name);
} 

.section{
	background-color: color(color-primary);
    padding: 40px;
	&__content{
		background-color: color(color-secondary);
	}
}

