
.register {
    background-color: var(--color-secondary-m);
    grid-column: container-start / container-end;
    background-image: url("../img/register/register-bg.jpg");
    @extend %bg;
    @extend %sec-padding;
    color: var(--color-quinary);
    min-height: 80vh;

    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;

    &__progress {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        grid-gap: 2rem;

        &--step {
            font-size: 2rem;
            background-color: var(--color-tertiary-m);
        }
    }

}