.header{
    grid-column: container-start / container-end;

    // dynamic class
    &.open .header__memu--line {
        background-color: transparent;
    }

    &.open .header__memu--line::before {
        transform: rotate(45deg);
    }

    &.open .header__memu--line::after {
        transform: rotate(-45deg);
    }
}