.header{
    grid-column: container-start / container-end;

    // dynamic class
    &.open .header__memu--line {
        background-color: transparent;
    }

    &.open .header__memu--line::before {
        transform: rotate(45deg);
    }

    &.open .header__memu--line::after {
        transform: rotate(-45deg);
    }

    &.open .header__memu--line::before,
    &.open .header__memu--line::after {
        top: 0;

    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: var(--color-tertiary);
        position: fixed;
        opacity: 0;
        display: none;
        z-index: 10;
    }

}