.features {
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    &__content{
        display: grid;
        grid-gap: 2vw;
        padding: 2rem 4rem;
        height: 40rem;
        align-items: center;
    }

}

@for $img from 1 through 9 {
    .features__content:nth-child(#{$img}) {
        background-image: url("../img/features/features-#{$img}.jpg");
        @extend %bg;
    }
}
